.Wrapper {
  margin-top: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  gap: 2rem;
}

.InfoImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.InfoTitle {
  margin: 0;
  margin-bottom: 40px;
  font-weight: var(--fw-normal);
}

.ListGroup {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.List {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ListItem {
  line-height: 1.8;
}
.ListItem > b {
  font-weight: var(--fw-bold);
}

@media (min-width: 767px) {
  .Wrapper {
    grid-template-columns: minmax(100px, 400px) 1fr;
    align-items: center;
    gap: 5rem;
  }
}
@media (min-width: 1024px) {
  .Wrapper {
    grid-template-columns: minmax(400px, 600px) 1fr;
  }
  .ListGroup {
    flex-direction: row;
    gap: 4rem;
  }
}
